<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/popularscience">Popular science</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:adrianru@math.uio.no">email</a></li>
				<li><a href="https://scholar.google.no/citations?user=RrUi35EAAAAJ&hl=en&oi=ao">google scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
